:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --boder-color: #dbdbdb;
    --star-gold-color: #ffce3d;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(var(--navbar-height)));
    --footer-qrcode-100: 100px;
    --header-height-tablet: 70px;
    --header-sort-bar-height: 46px;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

ul{
    padding: 0;
}

/* Responsive */

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__column-2{
    width: calc(16.6667%);
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4{
    width: calc(20%);
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10{
    width: calc(83.3334%);
    padding-left: 5px;
    padding-right: 5px;
}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    margin: auto;
    position: relative;
}

.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    display:inline-flex;
    line-height: 1.6rem;
}

.btn.btn--nomal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */

.select-input{
    min-width: 120px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 2px 4px #ccc;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__icon:hover{
    cursor: pointer;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding-left: 0;
    padding: 8px 12px;
    display: none;
    box-shadow: 0 2px 4px #ccc;
    z-index: 1;
}

.select-input__link{
    font-size: 1.2rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}